rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access for development purposes.
    // This rule is not secure for production.
    // It is configured to expire. Remember to secure your database before then.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2025, 8, 22);
    }
  }
}