@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 225 73% 63%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 33 92% 95%;
    --accent-foreground: 33 92% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 225 73% 63%;
    --radius: 0.5rem;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 209 68% 40%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 209 68% 40%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 73% 63%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 225 73% 63%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 209 68% 40%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 209 68% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @media print {
    @page {
        size: a4 portrait;
        margin: 1.5cm;
    }
    body.print-landscape {
      @page {
        size: a4 landscape;
        margin: 1cm;
      }
    }
    .print-page-break {
        page-break-after: always;
    }
    .print-page-break:last-child {
        page-break-after: auto;
    }
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        counter-reset: page;
    }
    .print-hidden {
        display: none !important;
    }
    body, html {
      background-color: #fff !important; /* Ensure a white background for printing */
      width: 100%;
      height: 100%;
    }
    body * {
        visibility: hidden;
    }
    #print-section, #print-section * {
        visibility: visible;
    }
    #print-section {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    #print-section pre {
      counter-reset: line;
    }
    #print-section pre > span {
      counter-increment: line;
    }
    #print-section pre > span::before {
      content: counter(line);
      display: inline-block;
      width: 2.5em; /* Adjust width as needed */
      padding-right: 0.5em;
      margin-right: 0.5em;
      text-align: right;
      color: #999; /* Light grey color for line numbers */
      font-size: 0.8em;
      border-right: 1px solid #ddd;
    }
    .page-number::after {
      counter-increment: page;
      content: counter(page);
    }
  }
}
